# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/

# Build
bin/
dist/
target/
coverage/
server/admin-ui/node_modules/
!server/internal/adminui/dist/
!server/internal/adminui/dist/index.html

# Go
server/.cache/

# Rust
**/Cargo.lock

# Env
.env
.env.local
