MESHLINK_BASE_IMAGE=/var/lib/libvirt/images/ubuntu-22.04-server-cloudimg-amd64.img
MESHLINK_LIBVIRT_NETWORK=default
MESHLINK_LIBVIRT_POOL=default
MESHLINK_OS_VARIANT=ubuntu22.04
MESHLINK_SSH_USER=meshlink
# MESHLINK_SSH_PUBLIC_KEY_FILE=/home/you/.ssh/id_ed25519.pub
# MESHLINK_SSH_PUBLIC_KEY="ssh-ed25519 AAAA..."
MESHLINK_MGMT_IP=192.168.122.201
MESHLINK_CLIENT_A_IP=192.168.122.202
MESHLINK_CLIENT_B_IP=192.168.122.203
MESHLINK_GATEWAY=192.168.122.1
MESHLINK_MANAGEMENT_PORT=33073
MESHLINK_SYNC_INTERVAL=1s
